.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: solid 1px #ccc;
}

.header__title {
    color: red;
}

.header__nav {}

.header__list {
    display: flex;
    gap: 20px;
    font-size: 36px;
}